@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-comfortaa: "Comfortaa", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --font-playfair-display: "Playfair Display", serif;
  --font-roboto: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*hamburger*/
header {
  position: fixed;
  right: 0;
  z-index: 10;
  background-color: transparent;
  h1 {
    display: none;
    font-family: var(--font-comfortaa);
  }
}

.navbar {
  display: none;
  background-color: white;
  padding-right: 30px;
  padding-top: 10px;
  border-radius: 10px;
  font-family: var(--font-raleway);
}

.hamburger {
  padding-right: 10px;
  font-size: 30px;
  padding-top: 5px;
}

.close {
  display: none;
  padding-left: 90px;
  font-size: 40px;
  font-weight: 700;
}

#menu:checked ~ .close {
  display: block;
}

#menu:checked ~ .hamburger {
  display: none;
}

#menu:checked ~ .navbar {
  display: block;
  width: 120px;
  /* padding-bottom: 5px; */
  font-weight: 700;
}

.navbar a {
  color: #25282b;
  font-size: 25px;
  /* font-weight: 500px; */
  text-decoration: none;
}

/*gambar pp*/

.hero {
  display: block;
}

.right-section {
  position: relative;
  top: -10px;
  right: -10px;
  width: 100%;
  height: 500px;
  background-image: url("/image/adit.png");
  background-size: cover;
  background-position: center;

  mask-image: url("/image/yellow-bg.svg");
  -webkit-mask-image: url("/image/yellow-bg.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-size: cover;

  background-color: aqua;
}

/*ket profil*/

.left-section {
  padding-inline: 15px;
}

.job {
  color: #fdc435;
  font-family: var(--font-nunito);
}

.left-section h1 {
  font-family: var(--font-playfair-display);
  font-weight: 700px;
  font-size: 30px;
  color: #333333;
  margin-top: 12px;
  margin-bottom: 32px;
  position: relative;
  width: 100%;
}

.iam {
  font-family: var(--font-nunito);
  font-weight: 400px;
  font-size: 24px;
  color: #828282;
  margin-bottom: 32px;
}

.button {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.button .projects-button {
  background-color: aqua;
  border: none;
  padding: 8px 24px;
  border-radius: 8px;
}

.button .projects {
  font-family: var(--font-roboto);
  font-weight: 500px;
  font-size: 18px;
  color: #25282b;
  text-decoration: none;
}

.button .linkedin-button {
  padding: 8px 24px;
  border-radius: 8px;
  border: 2px solid #25282b;
  background-color: transparent;
}

.button .linkedin {
  font-family: var(--font-roboto);
  color: #25282b;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

/*PROJECS*/

.pro {
  /* margin: 0; */
  /* background-color: #333333; */
}
.pro > div > p {
  display: grid;
  grid-row: 1fr;
  margin: 0;
  color: #25282b;
  /* background-color: red; */
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  font-family: var(--font-playfair-display);
}

.pro .conten {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 0;
  div {
    &:nth-child(1) {
      /* background-color: aqua; */
      width: 100%;
      p {
        &:nth-child(1) {
          margin: 0;
          padding-top: 20px;
          font-size: 40px;
          color: #25282b;
          /* background-color: yellow; */
        }
        &:nth-child(2) {
          color: #828282;
          font-size: 22px;
          padding-top: 20px;
        }
      }
      button {
        margin-top: 30px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 1px solid black;

        justify-content: center;
        a {
          text-decoration: none;
          padding: 8px;
          color: #25282b;
        }
      }
    }
    &:nth-child(2) {
      img {
        width: 100%;
      }
    }
  }
}

.input-projects {
  /* background-color: #828282; */
  margin: 20px 15px 0 15px;

  div {
    &:nth-child(1) {
      p {
        font-size: 60px;
        text-align: center;
      }
    }
    /*label*/
    &:nth-child(2) {
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      label {
        margin: 8px 0;
      }
      input {
        border-radius: 8px;
        border: none;
        height: 40px;
        border: 2px solid #e8ecf4;
      }
      textarea {
        border: none;
        height: 160px;
        border: 2px solid #e8ecf4;
      }
    }

    /*button*/
    &:nth-child(3) {
      /* display: flex; */
      text-align: center;
      button {
        background-color: aqua;

        border-radius: 8px;
        padding: 8px 24px;
        border: none;
        margin-top: 24px;
      }
      a {
        color: #25282b;
        text-decoration: none;
        font-size: 18px;
      }
    }
    /*logo*/
    &:nth-child(4) {
      margin: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      img {
        /* width: 100%; */
        width: 60px;
        height: 60px;
      }
    }
    /*aditya*/
    &:nth-child(5) {
      text-align: center;
      font-size: 18px;
      color: black;
      /* position: absolute; */
    }
  }
}

.input-projects div input {
  border: 2px solid #e8ecf4;
}

.footer-bg {
  position: relative;
  width: 100vw;
  padding: 0;
}

.footer-bg img {
  display: block;
  width: 100%;
  height: auto;
  /* object-fit: cover; */
}

@media screen and (min-width: 768px) {
  .hamburger,
  .close {
    display: none;
  }

  #menu {
    display: none;
  }

  header {
    background: transparent;
    width: 100%;
    position: fixed;
    padding-inline: 120px;
    top: 0;
    left: 0;
    z-index: 1;
  }

  header h1 {
    margin: 0;
    position: fixed;
    z-index: 3;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    a {
      text-decoration: none;
      color: black;
    }
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    border: none;
    background: none;
    padding: 0;
  }

  .hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
  }

  .right-section {
    position: relative;
    top: -10px;
    right: 0px;
    width: 500px;
    height: 500px;
    background-image: url("/image/adit.png");
    background-size: cover;
    background-position: center;

    mask-image: url("/image/yellow-bg.svg");
    -webkit-mask-image: url("/image/yellow-bg.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-size: cover;

    background-color: aqua;
  }

  .left-section {
    padding-left: 125px;
  }

  .input-projects {
    max-width: 600px;
    margin: auto;
    width: 100%;
    padding: 30px;
    border-radius: 12px;
    div {
      &:nth-child(3) {
        text-align: end;
      }
    }
    label {
      font-size: large;
      font-weight: 500;
    }
  }

  .pro {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 24px;
    /* margin-bottom: 50px; */
  }

  .pro .conten {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .pro .conten > div:nth-child(1) {
    grid-column: 1/2;
  }
  .pro .conten > div:nth-child(2) {
    grid-column: 2/3;
  }
}
